.intro {
  color: #1d1d1f;
  font-family: sans-serif;
  text-align: center;
}

.sidebar {
  float: left;
  width: 30%;
  color: white;
  background-color: #1d1d1f;
  text-align: left;
}

.main {
font-family: sans-serif;
color: #1d1d1f;
}
